* {
    box-sizing: border-box;
}

body {
    font: 1.1rem Helvetica, Arial, sans serif;
    
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #00000011 solid;
    box-shadow: 0px 4px 4px 0px #eee;
    padding: 15px 0px 40px 0px;
}

#logo img {
    width: 20vw;
    margin-left: 100px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
}

nav input {
    background-color: white;
    border-radius: 20px;
    width: 80%;
    text-align: center;
    padding: 10px;
}

nav i {
    margin: 10px;
}

nav form {
    text-align: center;
}

nav div {
    background-color: red;
    border-radius: 50%;
    padding: 6px 11px 6px 9px;
    color: white;
    font-weight: 600;
}

main {
    display: flex;
}

main > * {
    padding: 40px 0px 20px 0px;
}

section > * {
    padding: 20px 50px 20px 0px;
}

section {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

#subtitle {
    display: flex;
    border-bottom: 1px #00000011 solid;
    padding-bottom: 15px;
    margin-left: 100px;
    margin-right: 50px;
}

#subtitle span {
    border-bottom: 1px #000000 solid;
    margin-bottom: 20px;
    padding-bottom: 15px;
    margin-left: 30px;
    font-weight: 600;
}

.thumb-container {
    display: flex;
    align-items: center;
    
}

.info-container {
    padding-right: 50px;
}

.info-container div:first-of-type {
    display: flex;
    align-items: center;
}

.info-container img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    object-fit: cover;
}

.info-container div:first-of-type span {
    font-size: medium;
    font-weight: 600;
}

.info-container h2 {
    font-size: 1.3rem;
    font-weight: 900;
}

.article {
    padding-top: 10px;
}

.feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.feedback p {
    color: rgb(128, 128, 128);
    font-size: 0.9rem;
}

.feedback span {
    background-color: rgb(242,242,242);
    border-radius: 15px;
    padding: 5px;
    
}

.feedback i {
    margin-left: 20px;
}

.thumb {
    width: 50%;
}

.thumb img {
    width: 100%;
}

aside {
    text-align: center;
    border-left: 1px #00000011 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px 0px 40px;
}

.social-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10%;
    justify-content: space-around;
    border-bottom: 1px #00000011 solid;
    font-size: 0.9rem;
    padding-bottom: 20px;
}

.social-container div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-container img:first-child {
    width: 15%;
}

.social-container img:nth-of-type(2) {
    width: 10%;
}

.social-container span {
    font-size: 2rem;
    color: rgb(128, 128, 128);
}

.social-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.social-container a {
    color: rgb(128, 128, 128);
}

.list-container {
    text-align: initial;
}

.list-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.list-container span {
    font-weight: 600;
}

.list-container li {
    background-color: rgb(242,242,242);
    border-radius: 15px;
    padding: 7px;
    margin-top: 15px;
}

.social-profile {
    width: 100%;
    text-align: initial;
}

.social-profile span {
    font-weight: 600;
    
}

.follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.follow img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    object-fit: cover;
}

.follow div:first-of-type {
    display: flex;
    align-items: center;
}

.follow button {
    background-color: rgb(242,242,242);
    border-radius: 15px;
    padding: 5px 10px;    
}

.name-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name-profile p:first-of-type {
    font-weight: 600;
    font-size: 1.2rem;
}

.name-profile p:nth-of-type(2) {
    font-size: 0.8rem;
    color: rgb(128,128,128);
}

footer {
    text-align: initial;
    display: flex;
    flex-direction: column;
}

footer span, footer h2 {
    font-weight: 600;
    margin:15px 0px 15px 0px;
}

.saved-profile {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 30px;
}

.saved-profile div {
    display: flex;
    align-items: center;
}

.saved-profile span {
    color: rgb(128, 128, 128);
    font-size: 0.9rem;
    font-weight: normal;
}

footer img {
    width: 2em;
    height: 2em;
    border-radius: 25%;
    object-fit: cover;
}

footer a {
    color: rgb(53,151,50);
    margin: 50px 0px 10px 0px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 0.9rem;
    margin-top: 35px;
}

footer li {
    padding: 7px;
}























@media (max-width: 500px) { 
    #logo img {
        width: 40vw;
        margin-left: 20px;
    }

    nav i, form {
        opacity: 0;
    }

    section {
        margin-left: 20px;
        margin-right: 50px;
        border-right: 1px #00000011 solid;
    }

 } /* for cellphones */



